body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

#cabecalho {
  text-decoration: none;
  background-color: #FFD9D9;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 40px;
  margin: -10px;
  position: fixed;
  width: 93%;
}

a {
  text-decoration: none;
  color: black;
  padding: 30px;

}

#home {
  text-align: center;
  padding: 250px;
}

#projetos {
  text-align: center;
  padding: 125px;
  background-color: #FFF0F0;
}

#sobre {
  text-align: center;
  padding: 315px;
}

#button {
  background: pink;
  border: none;
  padding: 13px;
  width: 110px;
  border-radius: 25px;
}

.box {
  background: white;
  box-shadow: 1.5px 1.5px 6px;
  border-radius: 10px;
  padding: 20px;
  margin: 12px;
}

button {
  background: black;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

input {
  padding: 8px;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  display: block;
}

textarea {
  padding: 8px;
  padding-bottom: 80px;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  display: block;
}

#bcont {
  margin: 0 auto;
  width: 25%;
  display: block;
  margin-top: 12px;
}

#cont {
  margin: -150px ;
  margin-top: -200px;
  margin-bottom: 50px;
}

#sobre h3 {
  margin-top: -100px;
}

#links{
  margin: auto;
  width: 25%;
  display: block;
}
